<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="programmesAutotestSanityTest_ALL" parallel="classes" thread-count="5">
  <test name="SanityTest" preserve-order="true">
  <parameter name="browser" value="iexplore"></parameter>
    <classes>
      <class name="com.sharpqa.comparesolution.test.ComparisonTestFactory"></class>
    </classes>
  </test>
</suite>